{% extends "base_generic.html" %}

{% block title %}
  <title> {{ video.title }}</title>
{% endblock %}

{% block content %}
  <h2>{{ video.title }}</h2>

  {% include "youtube-embedding.html" %}

  {% if video.problems %}
    <p class = "tex">
      {{ video.problems.first.text | safe }}
    </p>
    {% if video.problem.source %}
      <p class = "source"> {{ video.problem.source | safe }}
    {% endif %}
    <p><a href="{{ video.problems.first.get_absolute_url }}">問題の詳細</a></p>
  {% endif %}
    <p><a href="{{ editUrl }}" target="_blank">YoutubeSutudio</a></p>

  {% if video.genres %}
    <p><strong>Genres:</strong> 
      {% for genre in video.genres.all %}
        {% for ancestor in genre.ancestors %}
          <a href ="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}＞</a>
        {% endfor %}
      {% endfor %}
    </p>
  {% endif %}

  <p><strong>Terms:</strong> 
    {% for term in video.terms.all %}
      <a href ="{{ term.get_absolute_url }}">{{ term.name }}</a>, 
    {% endfor %}
  </p>

  <p><strong>Playlists:</strong>
    {% for playlist in video.playlist_set.all %}
      <a href ="{{ playlist.get_absolute_url }}">{{ playlist.title }}</a>, 
    {% endfor %}
  </p>


{% endblock %}
