<ul>
    {% for g in module.module_set.all %}
        {% if g.articles_num %}
        <li class ="folder linkdiv" itemid="{{ g.slug }}">
            <a href="#">{{ g.name }} ({{ g.articles_num }})</a>
            {% include "modules.html" with module=g %}
        </li>
        {% endif %}
    {% endfor %}
    {% for p in module.article_set.all %}
        <li class="file linkdiv" itemid="{{ p.slug }}">
            <a href="#">{{ p.name }}</a>
            <div class="article-detail">
                {% include "article_detail.html" with article=p%}
            </div>
        </li>
    {% endfor %}
</ul>